---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout metaTitle="Página no encontrada">
  <section class="main-container flex flex-col items-center justify-center min-h-screen bg-gray-100">
    <h1 class="text-6xl font-bold">404</h1>
    <p class="text-xl mt-2">Lo sentimos, la página que buscas no existe.</p>

    <div class="row mt-3">
      <Button href="/" text="Volver al Inicio" />
    </div>
  </section>
</MainLayout>
