---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout metaTitle="Fundadores">
    <section class="bg-white py-12 px-6 md:px-20 font-open-sans">
        <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center gap-10 ">
          <!-- Foto del Fundador -->
          <div class="flex-shrink-0 animate-slide-left">
            <img
              src="/fundador.png"
              alt="Huber López Jaramillo"
              class="w-72 h-72 md:w-80 md:h-80 object-cover rounded-full shadow-lg border-4 border-white"
            />
          </div>
    
          <!-- Información del Fundador -->
          <div class="text-gray-800 max-w-2xl animate-slide-right mb-14">
            <h1 class="text-3xl md:text-4xl font-bold mb-4 text-blue-dark">Huber López Jaramillo</h1>
            <h2 class="text-xl font-semibold mb-6">Fundador y Gerente General de El Dorado Air Cargo</h2>
    
            <p class="mb-4">
              Nacido en Bogotá en 1959, Huber López Jaramillo es el fundador y actual gerente general de El Dorado Air Cargo.
              Luego de 22 años en la empresa Intramar, donde se destacó por su liderazgo y compromiso, decidió emprender su propio camino cuando una oportunidad de crecimiento colectivo dentro de la empresa no se concretó.
              Junto a Eduardo Correa y Ernesto Mendoza, dio vida a El Dorado Air Cargo, una compañía construida sobre experiencia, visión y trabajo en equipo.
            </p>
    
            <p class="mb-4">
              Desde sus inicios en el mundo del comercio exterior, contó con la guía del Sr. Rolf H. Binder, quien le inculcó la disciplina, el orden y la precisión como pilares fundamentales.
              Su carácter firme, pensamiento positivo y enfoque en el servicio al cliente han sido claves para mantener el rumbo, incluso en tiempos de incertidumbre.
            </p>
    
            <p class="font-semibold text-lg text-blue-dark">
              Hoy lidera con compromiso, visión y una firme creencia en el valor de la palabra.
              Se enorgullece de haber convertido una idea en una empresa sólida y reconocida en el sector logístico.
            </p>
          </div>
        </div>
      </section>

      <style>
        @keyframes slideFadeLeft {
        0% {
            opacity: 0;
            transform: translateX(-30px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
        }

        @keyframes slideFadeRight {
        0% {
            opacity: 0;
            transform: translateX(30px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
        }

        .animate-slide-left {
        animation: slideFadeLeft 1s ease-out forwards;
        }

        .animate-slide-right {
        animation: slideFadeRight 1s ease-out forwards;
        }

      </style>

</MainLayout>
