---
import MainLayout from "../layouts/MainLayout.astro";
import Tabs from "../components/Tabs.astro";

const tabs = [
  {
    id: "tab-marca",
    label: "Por qué elegirnos?",
    icon: "mdi:star-circle-outline",
  },
  { id: "tab-exportaciones", label: "Exportaciones", icon: "mdi:airplane" },
  { id: "tab-importaciones", label: "Importaciones", icon: "mdi:airplane" },
  {
    id: "tab-otros-servicios",
    label: "Otros servicios",
    icon: "mdi:package-variant",
  },
];
---

<MainLayout metaTitle="Servicios">
  <!-- Banner -->
  <section
    class="bg-blue-dark shadow-sm p-6 md:p-10 mb-8 flex flex-col md:flex-row items-center gap-6 font-open-sans"
  >
    <!-- Text Content -->
    <div class="md:ml-10 text-justify">
      <h1 class="text-3xl md:text-4xl font-bold text-white mb-2">
        Nuestros Servicios
      </h1>
      <p class="text-white max-w-xl">
        En El Dorado Air Cargo ofrecemos soluciones logísticas adaptadas a tus
        necesidades. Nuestro compromiso es brindarte seguridad, eficiencia y
        cercanía en cada paso del proceso.
      </p>
    </div>
  </section>

  <section class="main-container">
    <Tabs tabs={tabs}>
      <div id="tab-marca" class="tab-content p-4 font-open-sans mt-5">
        <p class="reveal-text mb-4">
          Nuestra experiencia, compromiso y enfoque humano nos convierten en tu
          mejor aliado logístico. Estas son algunas razones por las que nuestros
          clientes confían en nosotros:
        </p>

        <ul class="list-disc list-inside space-y-2">
          <li class="reveal-text">
            La seriedad que refleja la experiencia del personal de la compañía.
          </li>
          <li class="reveal-text">
            La transparencia en el manejo confiable de la información entregada.
          </li>
          <li class="reveal-text">
            Tarifas competitivas y acordes al mercado.
          </li>
          <li class="reveal-text">
            Seguimiento personalizado en cada etapa del proceso logístico.
          </li>
          <li class="reveal-text">
            La tranquilidad de trabajar entre amigos, clientes conocidos y
            proveedores efectivos.
          </li>
          <li class="reveal-text">
            La garantía de acceder a información precisa y actualizada del
            régimen aplicado al comercio exterior, a través de nuestros asesores
            especializados.
          </li>
        </ul>

        <p class="reveal-text text-center text-lg font-semibold mt-6">
          ¡Estamos aquí para brindarte soluciones efectivas con confianza,
          calidad y cercanía!
        </p>
      </div>

      <div
        id="tab-exportaciones"
        class="tab-content p-4 hidden font-open-sans mt-5"
      >
        <p class="mb-4 reveal-text">
          Ofrecemos el servicio de <strong>carga internacional</strong> con tarifas
          negociadas en origen con las más reconocidas <strong
            >aerolíneas, navieras</strong
          > y <strong>transportadoras terrestres</strong> en las siguientes modalidades:
        </p>

        <ul class="list-disc list-inside space-y-2 mb-4">
          <li class="reveal-text">Exportación definitiva</li>
          <li class="reveal-text">
            Exportación temporal para perfeccionamiento pasivo
          </li>
          <li class="reveal-text">
            Exportación temporal para reimportación en el mismo estado
          </li>
          <li class="reveal-text">Menajes (sujeto a verificación)</li>
          <li class="reveal-text">Reexportación</li>
          <li class="reveal-text">Reembarque</li>
          <li class="reveal-text">
            Exportación de muestra sin valor comercial
          </li>
          <li class="reveal-text">
            Exportación de servicios y desde Zonas Francas
          </li>
        </ul>

        <p class="text-center text-lg font-semibold mt-6 reveal-text">
          ¡Comprometidos con la eficiencia, seguridad y puntualidad!
        </p>
      </div>

      <div
        id="tab-importaciones"
        class="tab-content p-4 hidden font-open-sans mt-5"
      >
        <p class="reveal-text mb-4">
          Con el apoyo de <strong
            >aliados estratégicos altamente calificados</strong
          >, prestamos el servicio de importaciones, brindando a nuestros
          clientes el acompañamiento necesario sobre los <strong
            >requisitos y formalidades legales</strong
          > establecidos para lograr una operación exitosa. Esto permite realizar
          la introducción de mercancías al país bajo las siguientes modalidades:
        </p>

        <ul class="list-disc list-inside space-y-2 mt-4 mb-4">
          <li class="reveal-text">Importaciones definitivas</li>
          <li class="reveal-text">Reimportación en el mismo estado</li>
          <li class="reveal-text">
            Importación temporal para perfeccionamiento activo (Plan Vallejo)
          </li>
          <li class="reveal-text">Importación en cumplimiento de garantía</li>
          <li class="reveal-text">Importación desde Zona Franca</li>
          <li class="reveal-text">
            Preinspección de la mercancía y descargues directos en 24 horas
          </li>
          <li class="reveal-text">
            Pago de tributos aduaneros, retiro de la mercancía y entrega a
            satisfacción
          </li>
        </ul>

        <p class="reveal-text text-center text-lg font-semibold mt-6">
          ¡Contamos con una red global de aliados que nos permite ofrecer un
          servicio eficiente y seguro en todo el mundo!
        </p>
      </div>

      <div
        id="tab-otros-servicios"
        class="tab-content p-4 hidden font-open-sans mt-5"
      >
        <p class="reveal-text mb-4">
          También ofrecemos servicios complementarios para brindar una solución
          logística integral y personalizada:
        </p>

        <ul class="list-disc list-inside space-y-2">
          <li class="reveal-text">Asesorías en comercio exterior</li>
          <li class="reveal-text">Apertura de nuevos mercados</li>
          <li class="reveal-text">Agenciamiento aduanero</li>
          <li class="reveal-text">Seguros de transporte</li>
          <li class="reveal-text">Almacenaje de mercancías</li>
          <li class="reveal-text">Empaque y embalaje profesional</li>
          <li class="reveal-text">Control de inventarios</li>
          <li class="reveal-text">Cobertura global bajo cualquier INCOTERM</li>
        </ul>

        <p class="reveal-text text-center text-lg font-semibold mt-6">
          ¡Somos tu aliado estratégico en cada etapa de la cadena logística!
        </p>
      </div>
    </Tabs>
  </section>
</MainLayout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const containers = document.querySelectorAll(".tab-content");

    containers.forEach((container) => {
      const revealElements = container.querySelectorAll(".reveal-text");

      revealElements.forEach((el, index) => {
        const delay = 0.2 + index * 0.2;
        (el as HTMLElement).style.animationDelay = `${delay}s`;
      });
    });
  });
</script>
