---
import Card from "./Card.astro";

const cards = [
  {
    title: "Importaciones",
    description: "Convierte divisas fácilmente con las tasas más actualizadas.",
    image: "https://img.freepik.com/foto-gratis/vista-aerea-buque-carga-contenedor-carga-puerto_335224-1380.jpg?t=st=1743111984~exp=1743115584~hmac=c004272c66a1c35242823dee7ac1f788cab71a0d9385f6b0fd3a943d6c98f5b1&w=1380",
    link: "/convert"
  },
  {
    title: "Exportaciones",
    description: "Obtén predicciones financieras para mejorar tu inversión.",
    image: "https://img.freepik.com/vector-gratis/comercio-internacional-diseno-plano-dibujado-mano_23-2149154534.jpg?t=st=1743112090~exp=1743115690~hmac=28a91ca5ad912ae00e257f2b8b9f3a8823c7118457b1bdc4f36260359f346656&w=1380",
    link: "/calculator"
  }
];
---

<div class="relative w-full overflow-hidden">
  <div class="flex gap-4 overflow-x-auto snap-x snap-mandatory scrollbar-hide p-4">
    {cards.map((card) => (
      <div class="snap-start w-80 shrink-0">
        <Card {...card} />
      </div>
    ))}
  </div>
</div>
