<footer
  class="bg-blue-light py-10 text-white items-center flex flex-col gap-12 max-sm:gap-4 max-sm:h-[420px]"
>
  <section
    class="flex justify-between items-center w-full max-lg:px-20 max-sm:px-0 max-sm:justify-center max-sm:flex-col max-sm:mt-10 max-w-screen-2xl"
  >
    <div
      class="flex flex-col gap-8 pl-20 max-lg:pl-0 max-sm:items-center max-sm:gap-4"
    >
      <img
        src={"/logo.png"}
        class="h-40 w-30 cursor-pointer"
        alt="el dorado air cargo logo"
        onclick="window.location.href = '/'"
      />
      <div class="flex gap-5">
        <a
          href={"https://facebook.com"}
          target="_blank"
          rel="noopener noreferrer"
        >
          <img  src="./facebook-logo.svg"/>
        </a>
        <a href={"https://x.com/"} target="_blank" rel="noopener noreferrer">
          <img src="./x-logo.svg" />
        </a>
        <a
          href={"https://linkedin.com/"}
          target="_blank"
          rel="noopener noreferrer"
        >
          <img  src="./linkedin-logo.svg"/>
        </a>
        <a
          href={"https://instagram.com/"}
          target="_blank"
          rel="noopener noreferrer"
        >
        <img  src="./instagram-logo.svg"/>
        </a>
      </div>
    </div>
  </section>

  <section
    class="flex flex-col w-full mx-auto px-16 gap-3 max-sm:px-12 max-w-screen-2xl max-sm:mt-4"
  >
    <hr class="border-t border-gray-100 w-full" />
    <div
      class="w-full flex justify-between text-[12px] font-archivo text-label-text tracking-spaced"
    >
      <p>Copyright 2025. Todos los derechos reservados</p>
      
    </div>
  </section>
</footer>
